{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input class="form-control form-control-sm" type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label> 
            <input class="form-control form-control-sm" type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="email">E-mail adress</label>
            <input class="form-control form-control-sm" type="email" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="location">Your current location</label>
            <input class="form-control form-control-sm" type="text" id="location" name="location" value="{{ user.profile.location }}">
        </div>
        <div class="form-group">
            <label for="bio">Share a little bit about yourself</label>
            <textarea class="form-control form-control-sm" rows="2" maxlength="200" id="bio" name="bio" value="{{ user.profile.bio }}"></textarea>
        </div>
        <div class="form-group">
            <label for="profile_pic">Choose your profile picture</label>
            <input class="form-control form-control-sm" type="file" id="profile_pic" name="profile_pic" value="{{ user.profile.profile_pic }}">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


{% endblock content %}